---
import { isNavActive } from '../../data/navigation';
import { withBase } from '../../utils/paths';

interface Props {
  href: string;
  label: string;
  class?: string;
  activeClass?: string;
  closeMobileMenu?: boolean;
}

const {
  href,
  label,
  class: className = '',
  activeClass = 'text-brand-red',
  closeMobileMenu = false,
} = Astro.props;

const pathname = Astro.url.pathname;
const active = isNavActive(href, pathname);
const classes = [className, active ? activeClass : ''].filter(Boolean).join(' ');
const resolvedHref = withBase(href);
---

<a
  href={resolvedHref}
  class={classes}
  {...(closeMobileMenu ? { 'data-close-mobile-menu': '' } : {})}
>{label}</a>
